

.head {
	width: 100%;
	position:absolute;
	margin-top: 350px;
	font-size: 50px;
	color: white;
	font-weight: bold;
}


.link {
	text-decoration: none;
	color: black;
}

.topfoot {
	margin-top: 150px;
	background-color:black;
	opacity:.65;
	padding: 30px;;
}
