

.head {
	width: 100%;
	position:absolute;
	margin-top: 400px;
	font-size: 50px;
	color: white;
	font-weight: bold;
}

.subhead {
	width: 100%;
	position:absolute;
	margin-top: 500px;
	color: white;
}

p {
	padding-right: 90px;
	padding-left: 10px;
	float: left;
}

.vision {
	margin-left: 10%;
	font-size: 30px;
}

.headshot {
	float: right;
	
}

.topfoot {
	margin-top: 150px;
	background-color:black;
	opacity:.65;
	padding: 30px;;
}
