
.brand {
	color: white;
	font-size: 35px;
	font-family:Broadway;
	float: left;
}

.active {
	background-color: blue;
	color: white;
}
.active:hover {
	background-color: gray;
}


.navbar {
	position: fixed;
	list-style-type: none;
	width: 100%;
	margin-top: 0;
	padding:0;
    overflow: hidden;
    background-color: black;
	opacity:.65;
}

li {
    float: right;
	display: inline-block;
	
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family:Berlin Sans FB;
}

li a:hover {
    background-color: gray;
}
